    @model IEnumerable<AracKiralamaPortal.Models.Car>
    @{
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
        ViewData["Title"] = "Admin Paneli";

    }

    <div class="container mt-4">

        <h3>Araçlar</h3>

        <a href="/Car/Create" class="btn btn-primary mb-3">Yeni Araç Ekle</a>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Model</th>
                    <th>Yıl</th>
                    <th>Fiyat</th>
                    <th>Marka</th>
                    <th>İşlemler</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Model</td>
                        <td>@item.Year</td>
                        <td>@item.Price ₺</td>
                        <td>@item.Brand.Name</td>
                        <td>
                            @if (item.isAvailable)
                            {
                                <span class="text-muted" style="background-color:green; border-radius:10px; padding:5px;"> <a style="color:white; text-decoration:none;">Müsait</a></span>

                            }
                            else
                            {
                            <span class="text-muted" style="background-color:red; border-radius:10px; padding:5px;"> <a style="color:white; text-decoration:none;">Müsait Değil</a></span>

                            }
                    </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.ImagePath))
                            {
                                <img src="@item.ImagePath" width="120" />
                            }
                            else
                            {
                                <span class="text-muted">Resim yok</span>
                            }
                        </td>
                        <td>
                            <a href="/Car/Edit/@item.Id" class="btn btn-warning btn-sm">Düzenle</a>

                            <button class="btn btn-danger btn-sm" onclick="deleteCar(@item.Id)">Sil</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script>
        function deleteCar(id) {
            if (!confirm("Bu aracı silmek istediğine emin misin?")) return;

            $.ajax({
                type: "POST",
                url: "/Car/Delete/" + id,
                success: function () {
                    alert("Araç silindi!");
                    location.reload();
                },
                error: function () {
                    alert("Silme işleminde hata oluştu!");
                }
            });
        }
    </script>

