@inject SiteSettingsService SettingsService
@{
    var settings = SettingsService.GetSettings();
    ViewData["Title"] = "Ana Sayfa";
}
@model List<AracKiralamaPortal.Models.Car>

<h2 class="mb-4">Araçlarımız</h2>

<div class="row">

    @foreach (var car in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card shadow">

                <!-- Araç Görseli -->
                <img class="card-img-top"
                     src="@car.ImagePath"
                     style="height:220px; object-fit:cover;"
                     alt="Araç Resmi" />

                <div class="card-body">
                    <h5 class="card-title">@car.Brand?.Name @car.Model</h5>

                    <p class="card-text">
                        <strong>Yıl:</strong> @car.Year <br />
                        <strong>Günlük Fiyat:</strong> @car.Price ₺
                    </p>

                    <!-- Durum Rozeti -->
                    @if (car.isAvailable)
                    {
                        <span class="badge bg-success">Müsait</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Müsait Değil</span>
                    }
                    <a style="margin-left:15px;"><br><br>Bizi Arayın : <strong>@settings.CompanyPhone</strong></a>
                </div>
            </div>
        </div>
    }

</div>
